@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PulseBoard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">Меню</button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Панель</NavLink>
                </div>
                <div class="nav-item px-3">
                    <button class="nav-link nav-button" @onclick="Logout">Выход</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">Вход</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">Регистрация</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login", true);
    }
}
