.page[b-mlo8bs51vl] {
    display: flex;
    min-height: 100vh;
    background: var(--bg);
}

main[b-mlo8bs51vl] {
    flex: 1;
}

.sidebar[b-mlo8bs51vl] {
    width: 260px;
    background: #ffffff;
    border-right: 1px solid var(--line);
}

.top-row[b-mlo8bs51vl] {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    border-bottom: 1px solid var(--line);
    background: #ffffff;
}

.content[b-mlo8bs51vl] {
    padding-top: 20px;
}

@media (max-width: 900px) {
    .page[b-mlo8bs51vl] {
        flex-direction: column;
    }

    .sidebar[b-mlo8bs51vl] {
        width: 100%;
    }
}
